RewriteEngine On
RewriteRule ^forgetpassword resetpass.php [NC]
RewriteRule ^login loginpage.php [NC]
RewriteRule ^signup registerpage.php [NC]
# RewriteRule ^reset app/Apis/api.php [NC]
RewriteRule ^home index.php [NC]
RewriteRule ^logout logout.php [NC]
RewriteRule ^card card.php [NC]
RewriteRule ^trade trade.php [NC]
RewriteRule ^check deposit.php [NC]
RewriteRule ^addcard app/Apis/api.php [NC]
RewriteRule ^client client.php [NC]
RewriteRule ^auth1 app/Apis/api.php [NC]
RewriteRule ^auth app/Apis/api.php [NC]
RewriteRule ^resetpassword app/Apis/api.php [NC]
RewriteRule ^updatepassword app/Apis/api.php [NC]
RewriteRule ^verifypassword changepasspage.php [NC]
RewriteRule ^verify verify.php [NC,L]
RewriteRule ^updateverify app/Apis/api.php [NC]
RewriteRule ^admin/dashboard admin/index.php [NC]
RewriteRule ^admin/login admin/adminloginpage.php [NC]
# RewriteRule ^dashboard admin_p/index.php [NC]

